body {
  width: 500px;
  margin: 40px auto 40px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 0 10px;
  font-weight: normal;
}

p {
  line-height: 1.4em;
}

p:last-of-type {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.button-group {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  font-size: 12px;
  text-shadow: 0 1px rgba(255,255,255,.3);
  margin: 0 10px 0 0;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 1px rgba(0,0,0,.15);
  outline: none;
}

button:hover {
  background: #ddd;
}

.region {
  outline: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  height: 180px;
}
